
@{
    ViewBag.Title = "NewUser";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

<label>Adınız:</label>
<input type="text" class="form-control" />
<br />
<label>Adınız:</label>
<input type="text" class="form-control" />
<br />
<label>Adınız:</label>
<input type="text" class="form-control" />
<br />
<label>Adınız:</label>
<input type="text" class="form-control" />
<br />
<button class="btn btn-primary">Kişiyi Ekle</button>


