
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

<h2>UserList</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>*</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Yusuf</td>
        <td>Keleş</td>
        <td>İstanbul</td>
        <td><a href="" class="btn btn-danger">Sil</a></td>
        <td><a href="" class="btn btn-success">Güncelle</a></td>
        <td><a href="" class="btn btn-warning">Detaylar</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Zehra</td>
        <td>Keleş</td>
        <td>Mersin</td>
        <td><a href="" class="btn btn-danger">Sil</a></td>
        <td><a href="" class="btn btn-success">Güncelle</a></td>
        <td><a href="" class="btn btn-warning">Detaylar</a></td>
    </tr>
</table>
